{% extends 'base.html' %}

{% block title %}
Perprof-py - Solvers overview
{% endblock %}

{% block content %}
<h1 class="is-size-3">Solvers overview</h1>

In this page you can upload solvers and see the performance profile.

<h2 class="is-size-4">Upload .csv or .table files</h2>

<form method="POST" enctype="multipart/form-data" action="{{ url_for('show_solvers') }}" id="upload-form">
  <div class="field is-grouped">
    <div class="control">
      <div class="file is-primary has-name" id="file-upload">
        <label class="file-label">
          <input class="file-input" id="file-input" type="file" name="uploaded-file" accept=".csv,.table">
          <span class="file-cta">
            <span class="file-icon">
              <i class="fas fa-upload"></i>
            </span>
            <span class="file-label">
              Upload
            </span>
          </span>
          <span class="file-name" id="file-name">
            No file chosen
          </span>
        </label>
      </div>
    </div>
    <div class="control">
      <button class="button is-primary" type="submit" name="action" value="upload">
        Upload file
      </button>
    </div>
  </div>
</form>

<br>

<h2 class="is-size-4">Uploaded solvers</h2>
{% if (solvers | length) > 0 %}
<div class="columns is-multiline">
  {% for solver in solvers %}
  <div class="column is-one-third">
    <form class="form" action="{{ url_for('update_solver', solver_id=loop.index0) }}" method="POST">
      <div class="box">

        <div class="field">
          <label class="label">
            Solver name:
          </label>
          <input class="input" type="text" name="algname" value="{{ solver.algname }}"
            id="input-solver{{ loop.index0 }}">
        </div>

        <div class="field">
          <a class="button is-primary is-fullwidth" href="{{ url_for('show_solver', solver_id=loop.index0) }}">
            <span class="icon">
              <i class="fas fa-eye"></i>
            </span>
            <span>details</span>
          </a>
        </div>

        <div class="field">
          <button class="button is-info is-fullwidth" type="submit" name="action" value="edit" id="edit-solver{{ loop.index0 }}>
            <span class=" icon">
            <i class="fas fa-edit""></i>
            </span>
            <span>update name</span>
          </button>
        </div>

        <div class=" field">
              <button class="button is-danger is-fullwidth" type="submit" name="action" value="delete">
                <span class="icon">
                  <i class="fas fa-trash"></i>
                </span>
                <span>delete</span>
              </button>
        </div>

      </div>
    </form>
  </div>
  {% endfor %}
</div>

{% if (solvers | length) > 1 %}
<h2 class="is-size-4">Performance profile</h2>

<div class="columns">

  <div class="column">
    <img src="data:image/png;base64,{{ plot_data }}" />
  </div>

  <div class="column">
    <div class="box">
      <form class="form" action="{{ url_for('show_solvers') }}" method="POST">
        <div class="field">
          <label class="label">Title:</label>
          <input class="input" placeholder="title" type="text" name="title" value="{{ plot_options['title'] }}">
        </div>

        <div class="field">
          <label class="label">x-label:</label>
          <input class="input" placeholder="x-label" type="text" name="xlabel" value="{{ plot_options['xlabel'] }}">
        </div>

        <div class="field">
          <label class="label">y-label:</label>
          <input class="input" placeholder="y-label" type="text" name="ylabel" value="{{ plot_options['ylabel'] }}">
        </div>

        <div class="field">
          <button class="button is-info" type="submit" name="action" value="update">
            <span class="icon">
              <i class="fas fa-sync"></i>
            </span>
            <span>update</span>
          </button>

          <a class="button is-primary" href="data:image/png;base64,{{ plot_data }}" download="perprof.png">
            <span class="icon">
              <i class="fas fa-download"></i>
            </span>
            <span>Download</span>
          </a>
        </div>
      </form>
    </div>
  </div>

</div>

{% endif %}

{% else %}
<p>No solvers have been uploaded yet.</p>
{% endif %}


<script>
  const fileInput = document.querySelector('#file-upload input[type=file]');
  fileInput.onchange = () => {
    if (fileInput.files.length > 0) {
      const fileName = document.querySelector('#file-upload .file-name');
      fileName.textContent = fileInput.files[0].name;
    }
  }
</script>

{% endblock %}
